{% extends 'base.html' %}
{% block title %} Reset password confirm {% endblock %}
{% block content %}
<section class="password_reset_section">
	<div class="row">
		<div class="col-md-8 offset-md-1">
			{% if form %}
			<h4>Reset your password here.</h4>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
					{% for error in field.errors %}
					<p class="text-danger">
						<strong>Error:</strong>
						{{ error|escape }}
					</p>
					{% endfor %}
					{% if field.help_text %}
					<small class="form-text text-muted">
						{{ field.help_text|safe }}
					</small>
					{% endif %}
				</div>
				{% endfor %}
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
			{% else %}
			<p>Invalid link! This link is expired.</p>
			{% endif %}
		</div>
	</div>
</section>
{% endblock content %}