{% extends 'base.html' %}

{% block title %} Reset password {% endblock %}
{% block content %}
<section class="login_section">
	<div class="row">
		<div class="col-md-8 offset-md-1">
			<h4>Reset your password here.</h4>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}
					{% if field.help_text %}
					<small class="form-text text-muted">
						{{ field.help_text|safe }}
					</small>
					{% endif %}
				</div>
				{% endfor %}
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</section>
{% endblock content %}